[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/SaydRomey/libft
[submodule "lib/minilibx/minilibx_linux"]
	path = lib/minilibx/minilibx_linux
	url = https://github.com/42Paris/minilibx-linux
